strongsdictionary {
	background-color: white;
	width: 90%;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

prologue {
	font-size: .7rem;
	margin: 0;
	display: block;
	background: none;
	white-space: pre;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	max-width: 100%;
	min-width: 100px;
	padding: 0;
	white-space: pre-wrap;
	/* css-3 */
	white-space: -moz-pre-wrap;
	/* Mozilla, since 1999 */
	white-space: -pre-wrap;
	/* Opera 4-6 */
	white-space: -o-pre-wrap;
	/* Opera 7 */
	word-wrap: break-word;
	/* Internet Explorer 5.5+ */
}

entry {
	column-count: 3;
	column-gap: 2em;
	column-rule: 1px dotted;
	display: block;
	border: 1px solid silver;
	margin: 0.5em;
	padding: 0.5em;
	background-color: whitesmoke;
	font-size: 15px;
	line-height: 1.5;
}

@media (max-width: 768px) {
	entry {
		column-count: 2;
	}
}

@media (max-width: 512px) {
	entry {
		column-count: 1;
	}
}

entry:before {
	content: attr(strongs);
	color: #666;
	margin-left: 15%;
	user-select: all;
	-webkit-user-select: all;
	/* Chrome all / Safari all */
	-moz-user-select: all;
	/* Firefox all */
	-ms-user-select: all;
	/* IE 10+ */
	user-select: all;
}

strongs {
	/* hide element*/
	visibility: hidden;
	position: absolute;
}

greek:before {
	content: attr(unicode);
	font-weight: bold;
	color: #d70a20
}

greek:after {
	content: " [" attr(translit)"]";
	font-style: italic;
}

pronunciation:before {
	color: gray;
	content: "pronunciation:";
	font-style: italic;
}

/* line break */
pronunciation[strongs]:after {
	content: attr(strongs) '\a';
	color: green;
	white-space: pre;
}

pronunciation {
	padding-left: 16px;
}

strongs_derivation,
strongs_def,
kjv_def {
	display: block;
}

strongs_derivation:before {
	content: "Etymology: ";
	color: #1d2a57;
	font-weight: bold;
}

strongs_def:before {
	content: "Definition: ";
	font-weight: bold;
	color: #1d2a57;
}

kjv_def:before {
	content: "Usage";
	font-weight: bold;
	color: #1d2a57;
}

latin {
	font-style: italic;
}

strongsref {
	color: #009;
	font-style: italic;
}

strongsref[language="GREEK"]:before {
	content: "G";
}

strongsref[language="HEBREW"]:before {
	content: "H";
}

strongsref:after {
	content: attr(strongs);
}